openapi: 3.1.0
info:
  title: PCM FHIR API
  version: "2026-01-05"
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  description: |
    OpenAPI definition for the PCM FHIR server. This covers the external FHIR REST API
    interactions described in pcm_process_flow.md, including organization onboarding
    updates, service registration, consent creation and retrieval, and endpoint
    registration. Service governance workflows are outside this public FHIR API;
    their observable API outcome is reflected by HealthcareService.active and
    OperationOutcome responses.
    Retrieval/response examples mirror the FHIR
    examples under input/fsh/_Examples; submit examples show the smaller
    server-accepted request bodies where those differ from full profiled
    response resources.
    Unless otherwise noted, FHIR REST requests/responses use application/fhir+json.
    PCM FHIR resource operations require transport-level mTLS and OAuth2 bearer
    access tokens. OAuth2 client authentication for token issuance/introspection
    is private_key_jwt; mTLS is not advertised as `tls_client_auth`. Profile-specific
    constraints are defined by the FSH profiles and illustrated by the examples.
servers:
  - url: https://pcm.fhir.health.gov.il/r4
    description: PCM FHIR base URL

tags:
  - name: Organization
    description: Parent, service-provider, and data-source organizations.
  - name: Endpoint
    description: FHIR server endpoints for data sources.
  - name: HealthcareService
    description: Canonical catalog services and instance subscription services.
  - name: Consent
    description: Consent requests and lifecycle updates. Deletion is not supported; service providers may only deactivate consents they created.
  - name: CapabilityStatement
    description: Server metadata and supported interactions.
  - name: SMART
    description: SMART on FHIR OAuth2 configuration.

security:
  - mtlsTransport: []
    bearerAuth: []

paths:
  /.well-known/smart-configuration:
    servers:
      - url: https://pcm.fhir.health.gov.il/r4
    get:
      tags: [SMART]
      operationId: getSmartConfiguration
      summary: Read SMART on FHIR configuration
      description: |
        OAuth2/SMART discovery document for the PCM authorization server.
      security:
        - mtlsTransport: []
      responses:
        '200':
          description: SMART configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartConfiguration'
              examples:
                pcmSmartConfiguration:
                  $ref: '#/components/examples/SmartConfigurationPCM'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        default:
          $ref: '#/components/responses/OperationOutcomeError'
  /metadata:
    servers:
      - url: https://pcm.fhir.health.gov.il/r4
    get:
      tags: [CapabilityStatement]
      operationId: readCapabilityStatement
      summary: Read capability statement
      description: |
        Returns the PCM server CapabilityStatement describing supported resources,
        interactions, and search parameters.
      security:
        - mtlsTransport: []
      responses:
        '200':
          description: CapabilityStatement
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/CapabilityStatement'
              examples:
                pcmCapabilityStatement:
                  $ref: '#/components/examples/CapabilityStatementPCM'
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        default:
          $ref: '#/components/responses/OperationOutcomeError'
  /Organization:
    servers:
      - url: https://pcm.fhir.health.gov.il/r4
    get:
      tags: [Organization]
      operationId: searchOrganizations
      summary: Search organizations
      description: |
        Search organizations by supported parameters. Used for discovery and retrieval,
        including searches by active flag or identifier.
      parameters:
        - $ref: '#/components/parameters/_id'
        - $ref: '#/components/parameters/identifier'
        - $ref: '#/components/parameters/active'
        - $ref: '#/components/parameters/type'
        - $ref: '#/components/parameters/partof'
        - $ref: '#/components/parameters/_include'
        - $ref: '#/components/parameters/_include_iterate'
      responses:
        '200':
          description: Bundle of matching organizations
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
              examples:
                organizationSearch:
                  $ref: '#/components/examples/OrganizationSearchBundle'
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        default:
          $ref: '#/components/responses/OperationOutcomeError'

  /Organization/{id}:
    servers:
      - url: https://pcm.fhir.health.gov.il/r4
    get:
      tags: [Organization]
      operationId: readOrganization
      summary: Read organization
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Organization resource
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Organization'
              examples:
                parentOrganization:
                  $ref: '#/components/examples/OrganizationParentRetrieval'
                serviceProviderOrganization:
                  $ref: '#/components/examples/OrganizationServiceProviderRetrieval'
                dataSourceOrganization:
                  $ref: '#/components/examples/OrganizationDataSourceRetrieval'
                pcmSystemOrganization:
                  $ref: '#/components/examples/OrganizationPcmSystem'
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        '404':
          $ref: '#/components/responses/OperationOutcomeNotFound'
        default:
          $ref: '#/components/responses/OperationOutcomeError'
    head:
      tags: [Organization]
      operationId: headOrganization
      summary: Check organization existence
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Organization exists.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Organization not found.
    put:
      tags: [Organization]
      operationId: updateOrganization
      summary: Update organization
      description: |
        Used by organizations to update allowed fields (contacts, endpoint reference,
        applicable certificate thumbprint (x5t#S256), and redirect URI depending on org type). PCM controls activation.
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/Organization'
            examples:
              parentOrganizationUpdate:
                $ref: '#/components/examples/OrganizationParentSubmit'
              serviceProviderUpdate:
                $ref: '#/components/examples/OrganizationServiceProviderSubmit'
              dataSourceUpdate:
                $ref: '#/components/examples/OrganizationDataSourceSubmit'
      responses:
        '200':
          description: Updated organization
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Organization'
              examples:
                parentOrganization:
                  $ref: '#/components/examples/OrganizationParentRetrieval'
                serviceProviderOrganization:
                  $ref: '#/components/examples/OrganizationServiceProviderRetrieval'
                dataSourceOrganization:
                  $ref: '#/components/examples/OrganizationDataSourceRetrieval'
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        '404':
          $ref: '#/components/responses/OperationOutcomeNotFound'
        default:
          $ref: '#/components/responses/OperationOutcomeError'

  /Endpoint:
    servers:
      - url: https://pcm.fhir.health.gov.il/r4
    get:
      tags: [Endpoint]
      operationId: searchEndpoints
      summary: Search endpoints
      parameters:
        - $ref: '#/components/parameters/_id'
        - $ref: '#/components/parameters/thumbprint'
      responses:
        '200':
          description: Bundle of endpoints
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
              examples:
                endpointSearch:
                  $ref: '#/components/examples/EndpointSearchBundle'
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        default:
          $ref: '#/components/responses/OperationOutcomeError'
    post:
      tags: [Endpoint]
      operationId: createEndpoint
      summary: Create endpoint
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/Endpoint'
            examples:
              endpointSubmit:
                $ref: '#/components/examples/EndpointSubmit'
      responses:
        '201':
          description: Created endpoint
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Endpoint'
              examples:
                endpointCreated:
                  $ref: '#/components/examples/EndpointRetrieval'
          links:
            ReadEndpointById:
              operationId: readEndpoint
              parameters:
                id: '$response.body#/id'
              description: Follow-up read of the created Endpoint.
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        default:
          $ref: '#/components/responses/OperationOutcomeError'

  /Endpoint/{id}:
    servers:
      - url: https://pcm.fhir.health.gov.il/r4
    get:
      tags: [Endpoint]
      operationId: readEndpoint
      summary: Read endpoint
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Endpoint resource
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Endpoint'
              examples:
                endpointRetrieval:
                  $ref: '#/components/examples/EndpointRetrieval'
                endpointPcmSystem:
                  $ref: '#/components/examples/EndpointPcmSystem'
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        '404':
          $ref: '#/components/responses/OperationOutcomeNotFound'
        default:
          $ref: '#/components/responses/OperationOutcomeError'
    head:
      tags: [Endpoint]
      operationId: headEndpoint
      summary: Check endpoint existence
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Endpoint exists.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Endpoint not found.
    put:
      tags: [Endpoint]
      operationId: updateEndpoint
      summary: Update endpoint
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/Endpoint'
            examples:
              endpointUpdate:
                $ref: '#/components/examples/EndpointSubmit'
      responses:
        '200':
          description: Updated endpoint
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Endpoint'
              examples:
                endpointUpdated:
                  $ref: '#/components/examples/EndpointRetrieval'
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        '404':
          $ref: '#/components/responses/OperationOutcomeNotFound'
        default:
          $ref: '#/components/responses/OperationOutcomeError'

  /HealthcareService:
    servers:
      - url: https://pcm.fhir.health.gov.il/r4
    get:
      tags: [HealthcareService]
      operationId: searchHealthcareServices
      summary: Search services
      description: |
        Search canonical catalog services and organization-specific instance subscriptions.
        Identifier searches can target either PCM HealthcareService identifier system:
        `http://pcm.fhir.health.gov.il/identifier/pcm-healthcareservice-catalog-id`
        for canonical catalog entries, or
        `http://pcm.fhir.health.gov.il/identifier/pcm-healthcareservice-instance-id`
        for organization-specific instance subscriptions.

        Default visibility is active-biased. When the `active` query parameter is omitted,
        PCM returns active catalog entries and active instance services. The authenticated
        caller also sees its own instance services even when `active=false`, so an
        organization can inspect subscriptions that it disabled and can request
        reactivation when server-side rules permit it.

        Explicit `active=false` searches are authorization-limited. Ordinary organizations
        can see only their own inactive instance services. PCM administration can inspect
        inactive catalog and instance records for operational management.
      parameters:
        - $ref: '#/components/parameters/_id'
        - $ref: '#/components/parameters/identifier'
        - $ref: '#/components/parameters/active'
        - $ref: '#/components/parameters/service_category'
        - $ref: '#/components/parameters/service_type'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/organization'
      responses:
        '200':
          description: Bundle of services
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
              examples:
                healthcareServiceSearch:
                  $ref: '#/components/examples/HealthcareServiceSearchBundle'
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        default:
          $ref: '#/components/responses/OperationOutcomeError'
    post:
      tags: [HealthcareService]
      operationId: createHealthcareService
      summary: Register service or request a new service
      description: |
        Service providers discover active catalog services first with
        `GET /HealthcareService?active=true`. If a suitable active canonical catalog
        service exists, the provider posts a minimal instance HealthcareService with
        the `basedOn` extension to register for that service. If no suitable service
        exists, the provider posts a full new-service registration request through
        the same instance flow, including service name, purpose, information buckets,
        history depth, access mode, access duration, clinical information, and example
        queries.

        Submit profiles are illustrative implementation guidance only and are not
        sent in `meta.profile`. Runtime service submit requests are distinguished by
        `meta.tag=instance` and payload shape: `basedOn` present means existing
        catalog registration; no `basedOn` with a full service definition means a
        new-service registration request. Created/read response examples use the
        returned `pcm-healthcareservice-instance` profile.

        External clients do not directly create an immediately active canonical
        catalog service. For a valid new-service registration request, PCM creates
        both the canonical catalog service and the provider's organization
        registration with `active=false`. Activation and any required review or
        exception handling are managed outside this FHIR operation. Clients observe
        the result through `HealthcareService.active` and OperationOutcome responses,
        not through separate public review resources.

        Full service definitions require a human-readable service purpose. The public
        FHIR representation for that purpose is `HealthcareService.extraDetails`, carrying
        the service description/purpose ("תיאור השירות (מטרה)"). Client-supplied `active`
        values are controlled by PCM and may be ignored or overridden. PCM assigns
        the stable instance/subscription business identifier using system
        `http://pcm.fhir.health.gov.il/identifier/pcm-healthcareservice-instance-id`; clients
        should omit `identifier` on instance create/update. Clients should include
        `meta.tag=instance` on service POST/PUT requests so request intent is explicit,
        but should not include `meta.profile` on submit request payloads.
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/HealthcareService'
            examples:
              existingCatalogInstanceSubmit:
                $ref: '#/components/examples/HealthcareServiceInstanceSubmit'
              newServiceRegistrationSubmit:
                $ref: '#/components/examples/HealthcareServiceNewServiceRegistrationSubmit'
      responses:
        '201':
          description: Created service
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/HealthcareService'
              examples:
                instanceCreated:
                  $ref: '#/components/examples/HealthcareServiceInstanceRetrieval'
                pendingNewServiceCreated:
                  $ref: '#/components/examples/HealthcareServiceInstancePendingRetrieval'
          links:
            ReadHealthcareServiceById:
              operationId: readHealthcareService
              parameters:
                id: '$response.body#/id'
              description: Follow-up read of the created HealthcareService.
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        default:
          $ref: '#/components/responses/OperationOutcomeError'

  /HealthcareService/{id}:
    servers:
      - url: https://pcm.fhir.health.gov.il/r4
    get:
      tags: [HealthcareService]
      operationId: readHealthcareService
      summary: Read service
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: HealthcareService resource
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/HealthcareService'
              examples:
                catalogRetrieval:
                  $ref: '#/components/examples/HealthcareServiceCatalogRetrieval'
                pendingCatalogRetrieval:
                  $ref: '#/components/examples/HealthcareServiceCatalogPendingRetrieval'
                instanceRetrieval:
                  $ref: '#/components/examples/HealthcareServiceInstanceRetrieval'
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        '404':
          $ref: '#/components/responses/OperationOutcomeNotFound'
        default:
          $ref: '#/components/responses/OperationOutcomeError'
    head:
      tags: [HealthcareService]
      operationId: headHealthcareService
      summary: Check service existence
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: HealthcareService exists.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: HealthcareService not found.
    put:
      tags: [HealthcareService]
      operationId: updateHealthcareService
      summary: Update service instance state or submit catalog update request
      description: |
        Instance owners may submit a minimal PUT containing `active=false` to disable their
        own instance subscription. They may submit `active=true` to request reactivation,
        but PCM allows that transition only when server-side rules permit external use;
        otherwise it returns an OperationOutcome and leaves the resource inactive.
        Non-writable elements are ignored or overwritten by PCM. Clients
        should include `meta.tag=instance` on service PUT requests, but should not
        include `meta.profile` on submit/update request payloads.

        Catalog update requests may also be submitted through this operation. PCM does
        not mutate the active canonical catalog entry inline. Changes to information
        buckets, patient-consent access parameters, tagged clinical data, or history
        depth are rejected with an OperationOutcome and should be submitted through
        the new-service registration flow. Changes accepted for asynchronous processing
        return a `202 Accepted` OperationOutcome, and the active catalog entry remains
        unchanged until PCM applies the update.
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/HealthcareService'
            examples:
              instanceDeactivate:
                $ref: '#/components/examples/HealthcareServiceInstanceDeactivate'
      responses:
        '200':
          description: Updated service
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/HealthcareService'
              examples:
                instanceUpdated:
                  $ref: '#/components/examples/HealthcareServiceInstanceRetrieval'
        '202':
          description: Catalog update request accepted for asynchronous processing
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              examples:
                catalogUpdateAccepted:
                  $ref: '#/components/examples/OperationOutcomeCatalogUpdateAccepted'
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        '422':
          $ref: '#/components/responses/OperationOutcomeUnprocessable'
        '404':
          $ref: '#/components/responses/OperationOutcomeNotFound'
        default:
          $ref: '#/components/responses/OperationOutcomeError'

  /Consent:
    servers:
      - url: https://pcm.fhir.health.gov.il/r4
    get:
      tags: [Consent]
      operationId: searchConsents
      summary: Search consents
      description: |
        Search consents by supported parameters. Use _include to return actor
        organizations, endpoints, and parent orgs in a single bundle.
      parameters:
        - $ref: '#/components/parameters/_id'
        - $ref: '#/components/parameters/identifier'
        - $ref: '#/components/parameters/status'
        - $ref: '#/components/parameters/patient'
        - $ref: '#/components/parameters/patient_identifier'
        - $ref: '#/components/parameters/pcm_service'
        - $ref: '#/components/parameters/_include'
        - $ref: '#/components/parameters/_include_iterate'
      responses:
        '200':
          description: Bundle of consents
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
              examples:
                consentIncludeBundle:
                  $ref: '#/components/examples/ConsentIncludeBundle'
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        default:
          $ref: '#/components/responses/OperationOutcomeError'
    post:
      tags: [Consent]
      operationId: createConsent
      summary: Create consent request
      description: |
        Create a proposed consent request for a patient and a service provider's
        HealthcareService instance. The `pcm-service` extension must reference an
        existing active instance service. PCM rejects requests that omit the service,
        point to a canonical catalog service, or point to an inactive or otherwise
        unusable instance. Token issuance later repeats this service-state check, so an
        existing active Consent does not authorize data-source access after the
        service instance becomes inactive. The accepted request shape is documented
        by the illustrative `pcm-consent-submit` profile, but clients do not send that
        profile in `meta.profile`. `scope=patient-privacy` and `category=INFA` are
        mandatory fixed values on submit. Created/read response examples use the
        returned `pcm-consent` profile.
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/Consent'
            examples:
              consentRequest:
                $ref: '#/components/examples/ConsentRequest'
      responses:
        '201':
          description: Created consent
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Consent'
              examples:
                consentCreated:
                  $ref: '#/components/examples/ConsentRequestCreated'
          links:
            ReadConsentById:
              operationId: readConsent
              parameters:
                id: '$response.body#/id'
              description: Follow-up read of the created Consent.
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        default:
          $ref: '#/components/responses/OperationOutcomeError'

  /Consent/{id}:
    servers:
      - url: https://pcm.fhir.health.gov.il/r4
    get:
      tags: [Consent]
      operationId: readConsent
      summary: Read consent
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Consent resource
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Consent'
              examples:
                consentApproved:
                  $ref: '#/components/examples/ConsentApproved'
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        '404':
          $ref: '#/components/responses/OperationOutcomeNotFound'
        default:
          $ref: '#/components/responses/OperationOutcomeError'
    head:
      tags: [Consent]
      operationId: headConsent
      summary: Check consent existence
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Consent exists.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Consent not found.
    put:
      tags: [Consent]
      operationId: updateConsent
      summary: Update consent status
      description: |
        Used by PCM (portal) to approve/reject/revoke, and by service provider
        to deactivate its own consent (status=inactive). Service providers may
        update only consents they created; deletion is not supported.
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/Consent'
            examples:
              consentDeactivate:
                $ref: '#/components/examples/ConsentApproved'
      responses:
        '200':
          description: Updated consent
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Consent'
              examples:
                consentUpdated:
                  $ref: '#/components/examples/ConsentApproved'
        '400':
          $ref: '#/components/responses/OperationOutcomeBadRequest'
        '401':
          $ref: '#/components/responses/OperationOutcomeUnauthorized'
        '403':
          $ref: '#/components/responses/OperationOutcomeForbidden'
        '404':
          $ref: '#/components/responses/OperationOutcomeNotFound'
        default:
          $ref: '#/components/responses/OperationOutcomeError'

components:
  securitySchemes:
    mtlsTransport:
      type: mutualTLS
      description: >
        mTLS is required as a transport-level policy. The presented client
        certificate is not the OAuth2 client authentication method; OAuth2
        clients authenticate with private_key_jwt at the token and introspection
        endpoints.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: OAuth2 bearer token (opaque) required for PCM FHIR API access.

  parameters:
    id:
      name: id
      in: path
      required: true
      schema:
        type: string
    _id:
      name: _id
      in: query
      required: false
      schema:
        type: string
    identifier:
      name: identifier
      in: query
      required: false
      schema:
        type: string
      description: FHIR identifier search parameter.
    thumbprint:
      name: thumbprint
      in: query
      required: false
      schema:
        type: string
      description: Search by NTN-registered applicable certificate thumbprint (x5t#S256, base64url SHA-256) stored in the Endpoint extension.
    active:
      name: active
      in: query
      required: false
      schema:
        type: string
      description: Search by activation status (token; true|false).
    service_category:
      name: service-category
      in: query
      required: false
      schema:
        type: string
      description: FHIR R4 search by HealthcareService.category.
    status:
      name: status
      in: query
      required: false
      schema:
        type: string
    type:
      name: type
      in: query
      required: false
      schema:
        type: string
      description: Search by Organization.type code.
    service_type:
      name: service-type
      in: query
      required: false
      schema:
        type: string
      description: FHIR R4 search by HealthcareService.type.
    name:
      name: name
      in: query
      required: false
      schema:
        type: string
      description: Search by HealthcareService.name.
    organization:
      name: organization
      in: query
      required: false
      schema:
        type: string
      description: FHIR R4 search by HealthcareService.providedBy (instance profile only).
    partof:
      name: partof
      in: query
      required: false
      schema:
        type: string
    patient:
      name: patient
      in: query
      required: false
      schema:
        type: string
      description: Search by patient logical reference. Identifier search uses patient:identifier=system|value.
    patient_identifier:
      name: patient:identifier
      in: query
      required: false
      schema:
        type: string
      description: Search Consent.patient by logical identifier, formatted as system|value.
    pcm_service:
      name: pcm-service
      in: query
      required: false
      schema:
        type: string
      description: Search by pcmService extension reference (HealthcareService instance).
    _include:
      name: _include
      in: query
      required: false
      schema:
        type: string
      description: Include related resources (FHIR _include).
    _include_iterate:
      name: _include:iterate
      in: query
      required: false
      schema:
        type: string
      description: Recursive include for related resources.

  responses:
    OperationOutcomeBadRequest:
      description: Bad request (OperationOutcome)
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
          examples:
            badRequest:
              $ref: '#/components/examples/OperationOutcomeBadRequest'
    OperationOutcomeUnauthorized:
      description: Unauthorized (OperationOutcome)
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
          examples:
            unauthorized:
              $ref: '#/components/examples/OperationOutcomeUnauthorized'
    OperationOutcomeForbidden:
      description: Forbidden (OperationOutcome)
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
          examples:
            forbidden:
              $ref: '#/components/examples/OperationOutcomeForbidden'
    OperationOutcomeUnprocessable:
      description: Unprocessable request (OperationOutcome)
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
          examples:
            materialChange:
              $ref: '#/components/examples/OperationOutcomeMaterialCanonicalChange'
    OperationOutcomeNotFound:
      description: Not found (OperationOutcome)
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
          examples:
            notFound:
              $ref: '#/components/examples/OperationOutcomeNotFound'
    OperationOutcomeError:
      description: Server error (OperationOutcome)
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
          examples:
            internalError:
              $ref: '#/components/examples/OperationOutcomeInternalError'

  schemas:
    BaseResource:
      type: object
      required: [resourceType]
      additionalProperties: true
      properties:
        resourceType:
          type: string
        id:
          type: string
        meta:
          $ref: '#/components/schemas/Meta'

    DomainResource:
      allOf:
        - $ref: '#/components/schemas/BaseResource'
        - type: object
          additionalProperties: true
          properties:
            text:
              $ref: '#/components/schemas/Narrative'
            extension:
              type: array
              items:
                $ref: '#/components/schemas/Extension'

    Resource:
      type: object
      required: [resourceType]
      additionalProperties: true
      properties:
        resourceType:
          type: string

    CapabilityStatement:
      allOf:
        - $ref: '#/components/schemas/DomainResource'
        - type: object
          required: [resourceType]
          properties:
            resourceType:
              type: string
              enum: [CapabilityStatement]
            url:
              type: string
            name:
              type: string
            title:
              type: string
            status:
              type: string
            experimental:
              type: boolean
            date:
              type: string
            publisher:
              type: string
            description:
              type: string
            kind:
              type: string
            fhirVersion:
              type: string
            format:
              type: array
              items:
                type: string
            software:
              $ref: '#/components/schemas/CapabilityStatementSoftware'
            implementation:
              $ref: '#/components/schemas/CapabilityStatementImplementation'
            rest:
              type: array
              items:
                $ref: '#/components/schemas/CapabilityStatementRest'

    CapabilityStatementSoftware:
      type: object
      properties:
        name:
          type: string
        version:
          type: string

    CapabilityStatementImplementation:
      type: object
      properties:
        description:
          type: string
        url:
          type: string

    CapabilityStatementRest:
      type: object
      properties:
        mode:
          type: string
        documentation:
          type: string
        security:
          $ref: '#/components/schemas/CapabilityStatementRestSecurity'
        resource:
          type: array
          items:
            $ref: '#/components/schemas/CapabilityStatementRestResource'

    CapabilityStatementRestSecurity:
      type: object
      properties:
        description:
          type: string

    CapabilityStatementRestResource:
      type: object
      properties:
        type:
          type: string
        profile:
          type: string
        supportedProfile:
          type: array
          items:
            type: string
        documentation:
          type: string
        interaction:
          type: array
          items:
            $ref: '#/components/schemas/CapabilityStatementRestResourceInteraction'
        searchParam:
          type: array
          items:
            $ref: '#/components/schemas/CapabilityStatementRestResourceSearchParam'
        searchInclude:
          type: array
          items:
            type: string

    CapabilityStatementRestResourceInteraction:
      type: object
      properties:
        code:
          type: string

    CapabilityStatementRestResourceSearchParam:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
        definition:
          type: string
        documentation:
          type: string

    SmartConfiguration:
      type: object
      required:
        - issuer
        - token_endpoint
        - introspection_endpoint
        - jwks_uri
        - grant_types_supported
        - response_types_supported
        - response_modes_supported
        - token_endpoint_auth_methods_supported
        - token_endpoint_auth_signing_alg_values_supported
        - introspection_endpoint_auth_methods_supported
        - introspection_endpoint_auth_signing_alg_values_supported
        - code_challenge_methods_supported
        - scopes_supported
        - capabilities
      properties:
        issuer:
          type: string
        token_endpoint:
          type: string
        introspection_endpoint:
          type: string
        grant_types_supported:
          type: array
          items:
            type: string
        response_types_supported:
          type: array
          items:
            type: string
        response_modes_supported:
          type: array
          items:
            type: string
        token_endpoint_auth_methods_supported:
          type: array
          items:
            type: string
        token_endpoint_auth_signing_alg_values_supported:
          type: array
          items:
            type: string
        introspection_endpoint_auth_methods_supported:
          type: array
          items:
            type: string
        introspection_endpoint_auth_signing_alg_values_supported:
          type: array
          items:
            type: string
        jwks_uri:
          type: string
        code_challenge_methods_supported:
          type: array
          items:
            type: string
        scopes_supported:
          type: array
          items:
            type: string
        capabilities:
          type: array
          items:
            type: string

    Bundle:
      allOf:
        - $ref: '#/components/schemas/BaseResource'
        - type: object
          required: [resourceType, type]
          properties:
            resourceType:
              type: string
              enum: [Bundle]
            type:
              type: string
              enum:
                - document
                - message
                - transaction
                - transaction-response
                - batch
                - batch-response
                - history
                - searchset
                - collection
            total:
              type: integer
            link:
              type: array
              items:
                $ref: '#/components/schemas/BundleLink'
            entry:
              type: array
              items:
                $ref: '#/components/schemas/BundleEntry'

    BundleLink:
      type: object
      properties:
        relation:
          type: string
        url:
          type: string

    BundleEntry:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/Resource'
        search:
          type: object
          properties:
            mode:
              type: string

    Organization:
      allOf:
        - $ref: '#/components/schemas/DomainResource'
        - type: object
          required: [resourceType]
          properties:
            resourceType:
              type: string
              enum: [Organization]
            active:
              type: boolean
            name:
              type: string
            identifier:
              type: array
              items:
                $ref: '#/components/schemas/Identifier'
            type:
              type: array
              items:
                $ref: '#/components/schemas/CodeableConcept'
            partOf:
              $ref: '#/components/schemas/Reference'
            telecom:
              type: array
              items:
                $ref: '#/components/schemas/ContactPoint'
            address:
              type: array
              items:
                $ref: '#/components/schemas/Address'
            contact:
              type: array
              items:
                $ref: '#/components/schemas/OrganizationContact'
            endpoint:
              type: array
              items:
                $ref: '#/components/schemas/Reference'

    OrganizationContact:
      type: object
      properties:
        purpose:
          $ref: '#/components/schemas/CodeableConcept'
        name:
          $ref: '#/components/schemas/HumanName'
        telecom:
          type: array
          items:
            $ref: '#/components/schemas/ContactPoint'

    Endpoint:
      allOf:
        - $ref: '#/components/schemas/DomainResource'
        - type: object
          required: [resourceType]
          properties:
            resourceType:
              type: string
              enum: [Endpoint]
            status:
              type: string
              enum:
                - active
                - suspended
                - error
                - off
                - entered-in-error
                - test
            connectionType:
              $ref: '#/components/schemas/Coding'
            payloadType:
              type: array
              items:
                $ref: '#/components/schemas/CodeableConcept'
            address:
              type: string
            managingOrganization:
              $ref: '#/components/schemas/Reference'

    HealthcareService:
      allOf:
        - $ref: '#/components/schemas/DomainResource'
        - type: object
          required: [resourceType]
          properties:
            resourceType:
              type: string
              enum: [HealthcareService]
            active:
              type: boolean
            providedBy:
              $ref: '#/components/schemas/Reference'
            name:
              type: string
            category:
              type: array
              items:
                $ref: '#/components/schemas/CodeableConcept'
            type:
              type: array
              items:
                $ref: '#/components/schemas/CodeableConcept'
            extraDetails:
              type: string
              description: >
                Human-readable service purpose / clinical-business justification
                ("תיאור השירות (מטרה)") for canonical definitions and full
                service-registration requests.
            identifier:
              type: array
              description: >
                PCM HealthcareService business identifiers. Canonical catalog services use
                http://pcm.fhir.health.gov.il/identifier/pcm-healthcareservice-catalog-id;
                organization-specific instance subscriptions use
                http://pcm.fhir.health.gov.il/identifier/pcm-healthcareservice-instance-id.
              items:
                $ref: '#/components/schemas/Identifier'

    Consent:
      allOf:
        - $ref: '#/components/schemas/DomainResource'
        - type: object
          required: [resourceType]
          properties:
            resourceType:
              type: string
              enum: [Consent]
            status:
              type: string
              enum:
                - proposed
                - active
                - rejected
                - inactive
            dateTime:
              type: string
              format: date-time
            identifier:
              type: array
              items:
                $ref: '#/components/schemas/Identifier'
            scope:
              $ref: '#/components/schemas/CodeableConcept'
            category:
              type: array
              items:
                $ref: '#/components/schemas/CodeableConcept'
            patient:
              $ref: '#/components/schemas/Reference'
            provision:
              $ref: '#/components/schemas/ConsentProvision'

    ConsentProvision:
      type: object
      properties:
        type:
          type: string
          enum:
            - permit
            - deny
        period:
          $ref: '#/components/schemas/Period'
        purpose:
          type: array
          items:
            $ref: '#/components/schemas/Coding'
        actor:
          type: array
          items:
            $ref: '#/components/schemas/ConsentProvisionActor'

    ConsentProvisionActor:
      type: object
      properties:
        role:
          $ref: '#/components/schemas/CodeableConcept'
        reference:
          $ref: '#/components/schemas/Reference'

    Meta:
      type: object
      additionalProperties: true
      properties:
        versionId:
          type: string
        lastUpdated:
          type: string
          format: date-time
        source:
          type: string
        profile:
          type: array
          items:
            type: string
        security:
          type: array
          items:
            $ref: '#/components/schemas/Coding'
        tag:
          type: array
          items:
            $ref: '#/components/schemas/Coding'

    Narrative:
      type: object
      properties:
        status:
          type: string
        div:
          type: string

    Identifier:
      type: object
      properties:
        use:
          type: string
        system:
          type: string
        value:
          type: string

    Reference:
      type: object
      properties:
        reference:
          type: string
        identifier:
          $ref: '#/components/schemas/Identifier'
        display:
          type: string

    Coding:
      type: object
      properties:
        system:
          type: string
        code:
          type: string
        display:
          type: string

    CodeableConcept:
      type: object
      properties:
        coding:
          type: array
          items:
            $ref: '#/components/schemas/Coding'
        text:
          type: string

    Period:
      type: object
      properties:
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time

    Duration:
      type: object
      properties:
        value:
          type: number
        system:
          type: string
        code:
          type: string
        unit:
          type: string

    ContactPoint:
      type: object
      properties:
        system:
          type: string
        value:
          type: string

    Address:
      type: object
      properties:
        text:
          type: string

    HumanName:
      type: object
      properties:
        text:
          type: string

    Extension:
      type: object
      properties:
        url:
          type: string
        valueString:
          type: string
        valueUrl:
          type: string
        valueCode:
          type: string
        valueBoolean:
          type: boolean
        valueReference:
          $ref: '#/components/schemas/Reference'
        valueCodeableConcept:
          $ref: '#/components/schemas/CodeableConcept'
        valueDuration:
          $ref: '#/components/schemas/Duration'
        valuePeriod:
          $ref: '#/components/schemas/Period'
        extension:
          type: array
          items:
            $ref: '#/components/schemas/Extension'

    OperationOutcomeIssue:
      type: object
      properties:
        severity:
          type: string
          enum:
            - fatal
            - error
            - warning
            - information
        code:
          type: string
        details:
          $ref: '#/components/schemas/CodeableConcept'
        diagnostics:
          type: string
        expression:
          type: array
          items:
            type: string

    OperationOutcome:
      allOf:
        - $ref: '#/components/schemas/DomainResource'
        - type: object
          required: [resourceType]
          properties:
            resourceType:
              type: string
              enum: [OperationOutcome]
            issue:
              type: array
              items:
                $ref: '#/components/schemas/OperationOutcomeIssue'

  examples:
    SmartConfigurationPCM:
      summary: PCM SMART configuration
      value:
        issuer: "https://pcm.fhir.health.gov.il"
        token_endpoint: "https://pcm.fhir.health.gov.il/token"
        introspection_endpoint: "https://pcm.fhir.health.gov.il/introspect"
        grant_types_supported:
          - client_credentials
        response_types_supported:
          - none
        response_modes_supported:
          - none
        token_endpoint_auth_methods_supported:
          - private_key_jwt
        token_endpoint_auth_signing_alg_values_supported:
          - ES384
        introspection_endpoint_auth_methods_supported:
          - private_key_jwt
        introspection_endpoint_auth_signing_alg_values_supported:
          - ES384
        jwks_uri: "https://pcm.fhir.health.gov.il/.well-known/jwks.json"
        code_challenge_methods_supported:
          - none
        scopes_supported:
          - system/Organization.read
          - system/Organization.write
          - system/Endpoint.read
          - system/Endpoint.write
          - system/HealthcareService.read
          - system/HealthcareService.write
          - system/Consent.read
          - system/Consent.write
        capabilities:
          - client-confidential-asymmetric
          - permission-v2
    CapabilityStatementPCM:
      summary: PCM CapabilityStatement
      value:
        resourceType: CapabilityStatement
        id: pcm-capabilitystatement
        url: "http://pcm.fhir.health.gov.il/CapabilityStatement/pcm-capabilitystatement"
        description: "Only the resources and interactions defined by pcm_process_flow.md are declared here."
        format:
          - json
        software:
          name: "PCM FHIR Server"
        implementation:
          description: "PCM FHIR endpoint for consent and service orchestration."
          url: "https://pcm.fhir.health.gov.il/r4"
        text:
          status: generated
          div: '<div xmlns="http://www.w3.org/1999/xhtml">CapabilityStatement for the PCM FHIR server. It supports Organization onboarding updates, Endpoint registration, HealthcareService catalog/instance management, and Consent lifecycle operations as documented in pcm_process_flow.md. HEAD is supported on resource read URLs for existence checks.</div>'
        rest:
          - security:
              description: "Client authentication uses mTLS and client_credentials tokens; PCM enforces authorization."
            resource:
              - type: Organization
                supportedProfile:
                  - "http://pcm.fhir.health.gov.il/StructureDefinition/pcm-organization-parent"
                  - "http://pcm.fhir.health.gov.il/StructureDefinition/pcm-organization-service-provider"
                  - "http://pcm.fhir.health.gov.il/StructureDefinition/pcm-organization-source"
                  - "http://pcm.fhir.health.gov.il/StructureDefinition/pcm-organization-system"
                documentation: "PCM creates Organization skeletons; organizations update allowed contact and linkage fields. Activation is PCM-controlled."
                interaction:
                  - code: read
                  - code: search-type
                  - code: update
                searchParam:
                  - name: _id
                    type: token
                    documentation: "Search by logical id."
                  - name: identifier
                    type: token
                    documentation: "Search by organization business identifier."
                  - name: active
                    type: token
                    documentation: "Search by activation status."
                  - name: type
                    type: token
                    documentation: "Search by organization type."
                  - name: partof
                    type: reference
                    documentation: "Search by parent organization reference."
                searchInclude:
                  - Organization:endpoint
                  - Organization:partof
              - type: Endpoint
                supportedProfile:
                  - "http://pcm.fhir.health.gov.il/StructureDefinition/pcm-endpoint"
                  - "http://pcm.fhir.health.gov.il/StructureDefinition/pcm-endpoint-system"
                documentation: "FHIR server endpoint for a Data Source organization or the PCM system."
                interaction:
                  - code: read
                  - code: search-type
                  - code: create
                  - code: update
                searchParam:
                  - name: _id
                    type: token
                    documentation: "Search by logical id."
                  - name: thumbprint
                    type: token
                    definition: "http://pcm.fhir.health.gov.il/SearchParameter/pcm-endpoint-thumbprint"
                    documentation: "Search by applicable certificate thumbprint (x5t#S256)."
              - type: HealthcareService
                supportedProfile:
                  - "http://pcm.fhir.health.gov.il/StructureDefinition/pcm-healthcareservice-canonical"
                  - "http://pcm.fhir.health.gov.il/StructureDefinition/pcm-healthcareservice-instance"
                documentation: "Catalog definitions and instance registrations tied to organizations. Hosted/returned resources conform to the catalog and instance profiles. Create uses the documented submit payload shapes; submit profiles are illustrative only and are not sent in meta.profile. Public usability is exposed through HealthcareService.active only."
                interaction:
                  - code: read
                  - code: search-type
                  - code: create
                  - code: update
                searchParam:
                  - name: _id
                    type: token
                    documentation: "Search by logical id."
                  - name: active
                    type: token
                    documentation: "Search by activation status."
                  - name: identifier
                    type: token
                    documentation: "Search by HealthcareService business identifier (catalog or instance identifier system)."
                  - name: service-category
                    type: token
                    documentation: "Search by HealthcareService.category using the FHIR R4 service-category search parameter."
                  - name: service-type
                    type: token
                    documentation: "Search by HealthcareService.type using the FHIR R4 service-type search parameter."
                  - name: name
                    type: string
                    documentation: "Search by HealthcareService.name."
                  - name: organization
                    type: reference
                    documentation: "Search by HealthcareService.providedBy using the FHIR R4 organization search parameter (instance profile only)."
              - type: Consent
                profile: "http://pcm.fhir.health.gov.il/StructureDefinition/pcm-consent"
                documentation: "Consent requests and lifecycle updates for PCM services. Hosted/returned resources conform to PCMConsent. Create uses the documented submit payload shape; the submit profile is illustrative only and is not sent in meta.profile. Supports _include=Consent:actor and _include:iterate=Organization:endpoint|Organization:partof on consent searches."
                interaction:
                  - code: read
                  - code: search-type
                  - code: create
                  - code: update
                searchParam:
                  - name: _id
                    type: token
                    documentation: "Search by logical id."
                  - name: identifier
                    type: token
                    documentation: "Search by PCM consent business identifier."
                  - name: status
                    type: token
                    documentation: "Search by Consent.status."
                  - name: patient
                    type: reference
                    documentation: "Search by patient logical reference. Identifier search uses the FHIR reference identifier modifier: patient:identifier=system|value."
                  - name: pcm-service
                    type: reference
                    definition: "http://pcm.fhir.health.gov.il/SearchParameter/pcm-consent-service"
                    documentation: "Search by the pcmService extension reference (HealthcareService instance)."
                searchInclude:
                  - Consent:actor
                  - Organization:endpoint
                  - Organization:partof
            mode: server
            documentation: "PCM server supports only the interactions described in the process flow. HEAD is supported on resource read URLs for existence checks. Transaction Bundle interactions are not declared by this CapabilityStatement."
        name: PcmCapabilityStatement
        title: "PCM FHIR Capability Statement"
        status: active
        experimental: false
        date: "2026-01-05"
        publisher: "PCM"
        kind: instance
        fhirVersion: "4.0.1"
    OrganizationParentSubmit:
      summary: HMO B parent org (submit/update)
      value:
        resourceType: Organization
        active: false
        name: "HMO B (Parent Legal Entity)"
        identifier:
          - use: official
            system: "http://pcm.fhir.health.gov.il/identifier/example-organization-id"
            value: "HMO-B-PARENT-001"
        type:
          - coding:
              - system: "http://fhir.health.gov.il/cs/pcm-org-type"
                code: parent-org
                display: "Parent Organization"
          - coding:
              - system: "http://fhir.health.gov.il/cs/institution-type-moh"
                code: "73"
                display: "Health Maintenance Organization"
        telecom:
          - system: phone
            value: "+972-3-555-0200"
        address:
          - text: "10 HMO B Ave, Tel Aviv"
        contact:
          - purpose:
              coding:
                - system: "http://terminology.hl7.org/CodeSystem/contactentity-type"
                  code: ADMIN
            name:
              text: "HMO B - Administration"
            telecom:
              - system: email
                value: "admin@hmo-b.example.org"
          - purpose:
              coding:
                - system: "http://terminology.hl7.org/CodeSystem/contactentity-type"
                  code: PATINF
            name:
              text: "HMO B - Patient Information"
            telecom:
              - system: phone
                value: "+972-3-555-0210"
          - purpose:
              coding:
                - system: "http://fhir.health.gov.il/cs/pcm-contactentity-type"
                  code: SEC
            name:
              text: "HMO B - Security"
            telecom:
              - system: email
                value: "soc@hmo-b.example.org"

    OrganizationParentRetrieval:
      summary: Hospital A parent org (retrieval)
      value:
        resourceType: Organization
        id: org-parent-hospital-a
        meta:
          lastUpdated: "2025-01-01T13:28:17Z"
        active: true
        name: "Hospital A (Parent Legal Entity)"
        identifier:
          - use: official
            system: "http://pcm.fhir.health.gov.il/identifier/example-organization-id"
            value: "HOSP-A-PARENT-001"
        type:
          - coding:
              - system: "http://fhir.health.gov.il/cs/pcm-org-type"
                code: parent-org
                display: "Parent Organization"
          - coding:
              - system: "http://fhir.health.gov.il/cs/institution-type-moh"
                code: "1"
                display: "General Hospital"
        telecom:
          - system: phone
            value: "+972-3-555-0100"
        address:
          - text: "1 Hospital A Rd, Jerusalem"
        contact:
          - purpose:
              coding:
                - system: "http://terminology.hl7.org/CodeSystem/contactentity-type"
                  code: ADMIN
            name:
              text: "Hospital A - Administration"
            telecom:
              - system: email
                value: "admin@hospital-a.example.org"
          - purpose:
              coding:
                - system: "http://terminology.hl7.org/CodeSystem/contactentity-type"
                  code: PATINF
            name:
              text: "Hospital A - Patient Information"
            telecom:
              - system: phone
                value: "+972-3-555-0101"
          - purpose:
              coding:
                - system: "http://fhir.health.gov.il/cs/pcm-contactentity-type"
                  code: SEC
            name:
              text: "Hospital A - Security"
            telecom:
              - system: email
                value: "soc@hospital-a.example.org"

    OrganizationServiceProviderSubmit:
      summary: Hospital A service provider (submit)
      value:
        resourceType: Organization
        active: false
        name: "Hospital A - Patient App (Service Provider)"
        identifier:
          - use: official
            system: "http://pcm.fhir.health.gov.il/identifier/example-organization-id"
            value: "HOSP-A-SP-001"
        type:
          - coding:
              - system: "http://fhir.health.gov.il/cs/pcm-org-type"
                code: service-provider
                display: "Service Provider"
          - coding:
              - system: "http://fhir.health.gov.il/cs/institution-type-moh"
                code: "1"
                display: "General Hospital"
        partOf:
          reference: "Organization/org-parent-hospital-a"
        extension:
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-oauth2-redirect-uri"
            valueUrl: "https://app.hospital-a.example.org/pcm/oauth2/callback"
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-applicable-certificates"
            extension:
              - url: "thumbprint"
                valueString: "dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk"

    OrganizationServiceProviderRetrieval:
      summary: Hospital A service provider (retrieval)
      value:
        resourceType: Organization
        id: org-sp-hospital-a
        meta:
          lastUpdated: "2025-01-01T13:28:17Z"
        active: true
        name: "Hospital A - Patient App (Service Provider)"
        identifier:
          - use: official
            system: "http://pcm.fhir.health.gov.il/identifier/example-organization-id"
            value: "HOSP-A-SP-001"
        type:
          - coding:
              - system: "http://fhir.health.gov.il/cs/pcm-org-type"
                code: service-provider
                display: "Service Provider"
          - coding:
              - system: "http://fhir.health.gov.il/cs/institution-type-moh"
                code: "1"
                display: "General Hospital"
        partOf:
          reference: "Organization/org-parent-hospital-a"
        extension:
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-oauth2-redirect-uri"
            valueUrl: "https://app.hospital-a.example.org/pcm/oauth2/callback"
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-applicable-certificates"
            extension:
              - url: "thumbprint"
                valueString: "dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk"

    OrganizationDataSourceSubmit:
      summary: HMO B data source (submit)
      value:
        resourceType: Organization
        active: false
        name: "HMO B - Clinical Data Source"
        identifier:
          - use: official
            system: "http://pcm.fhir.health.gov.il/identifier/example-organization-id"
            value: "HMO-B-DS-001"
        type:
          - coding:
              - system: "http://fhir.health.gov.il/cs/pcm-org-type"
                code: source
                display: "Data Source"
          - coding:
              - system: "http://fhir.health.gov.il/cs/institution-type-moh"
                code: "73"
                display: "Health Maintenance Organization"
        partOf:
          reference: "Organization/org-parent-hmo-b-submit"
        endpoint:
          - reference: "Endpoint/endpoint-hmo-b-submit"
        extension:
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-applicable-certificates"
            extension:
              - url: "thumbprint"
                valueString: "dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk"

    OrganizationDataSourceRetrieval:
      summary: HMO B data source (retrieval)
      value:
        resourceType: Organization
        id: org-ds-hmo-b
        meta:
          lastUpdated: "2025-01-01T13:28:17Z"
        active: true
        name: "HMO B - Clinical Data Source"
        identifier:
          - use: official
            system: "http://pcm.fhir.health.gov.il/identifier/example-organization-id"
            value: "HMO-B-DS-001"
        type:
          - coding:
              - system: "http://fhir.health.gov.il/cs/pcm-org-type"
                code: source
                display: "Data Source"
          - coding:
              - system: "http://fhir.health.gov.il/cs/institution-type-moh"
                code: "73"
                display: "Health Maintenance Organization"
        partOf:
          reference: "Organization/org-parent-hmo-b-submit"
        endpoint:
          - reference: "Endpoint/endpoint-hmo-b"
        extension:
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-applicable-certificates"
            extension:
              - url: "thumbprint"
                valueString: "dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk"

    OrganizationPcmSystem:
      summary: PCM system organization
      value:
        resourceType: Organization
        id: org-pcm-system
        meta:
          lastUpdated: "2026-01-05T09:00:00Z"
        active: true
        name: "Patient Consent Manager (PCM)"
        identifier:
          - use: official
            system: "http://institutions.health.gov.il/Institutions"
            value: "PCM"
        type:
          - coding:
              - system: "http://fhir.health.gov.il/cs/pcm-org-type"
                code: pcm
                display: "PCM"
          - coding:
              - system: "http://terminology.hl7.org/CodeSystem/organization-type"
                code: govt
                display: "Government"
        telecom:
          - system: phone
            value: "+972-2-555-0000"
        address:
          - text: "1 Gov Campus Rd, Jerusalem"
        contact:
          - purpose:
              coding:
                - system: "http://terminology.hl7.org/CodeSystem/contactentity-type"
                  code: ADMIN
            name:
              text: "PCM Administration"
            telecom:
              - system: email
                value: "admin@pcm.health.gov.il"
          - purpose:
              coding:
                - system: "http://fhir.health.gov.il/cs/pcm-contactentity-type"
                  code: SEC
            name:
              text: "PCM Security"
            telecom:
              - system: email
                value: "soc@pcm.health.gov.il"
        endpoint:
          - reference: "Endpoint/endpoint-pcm-system"

    EndpointSubmit:
      summary: HMO B endpoint (submit)
      value:
        resourceType: Endpoint
        status: active
        connectionType:
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type"
          code: hl7-fhir-rest
          display: "HL7 FHIR REST"
        payloadType:
          - coding:
              - system: "urn:oid:1.3.6.1.4.1.19376.1.2.3"
                code: "urn:ihe:pcc:xphr:2007"
                display: "XPHR Extract"
        address: "https://fhir.hmo-b.example.org/r4"
        managingOrganization:
          reference: "Organization/org-ds-hmo-b-submit"
        extension:
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-applicable-certificates"
            extension:
              - url: "thumbprint"
                valueString: "dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk"

    EndpointRetrieval:
      summary: HMO B endpoint (retrieval)
      value:
        resourceType: Endpoint
        id: endpoint-hmo-b
        status: active
        connectionType:
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type"
          code: hl7-fhir-rest
          display: "HL7 FHIR REST"
        payloadType:
          - coding:
              - system: "urn:oid:1.3.6.1.4.1.19376.1.2.3"
                code: "urn:ihe:pcc:xphr:2007"
                display: "XPHR Extract"
        address: "https://fhir.hmo-b.example.org/r4"
        managingOrganization:
          reference: "Organization/org-ds-hmo-b"
        extension:
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-applicable-certificates"
            extension:
              - url: "thumbprint"
                valueString: "dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk"

    EndpointPcmSystem:
      summary: PCM system endpoint
      value:
        resourceType: Endpoint
        id: endpoint-pcm-system
        status: active
        connectionType:
          system: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type"
          code: hl7-fhir-rest
          display: "HL7 FHIR REST"
        payloadType:
          - coding:
              - system: "urn:oid:1.3.6.1.4.1.19376.1.2.3"
                code: "urn:ihe:pcc:xphr:2007"
                display: "XPHR Extract"
        address: "https://pcm.fhir.health.gov.il/r4"
        managingOrganization:
          reference: "Organization/org-pcm-system"
        extension:
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-applicable-certificates"
            extension:
              - url: "thumbprint"
                valueString: "dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk"

    HealthcareServiceCatalogRetrieval:
      summary: Canonical service (retrieval)
      value:
        resourceType: HealthcareService
        id: svc-catalog-cross-org-summary
        meta:
          profile:
            - "http://pcm.fhir.health.gov.il/StructureDefinition/pcm-healthcareservice-canonical"
          tag:
            - system: "http://pcm.fhir.health.gov.il/cs/pcm-meta-tag"
              code: catalog
              display: "Catalog"
        identifier:
          - use: official
            system: "http://pcm.fhir.health.gov.il/identifier/pcm-healthcareservice-catalog-id"
            value: "PCM-CAT-0101"
        active: true
        name: "Cross-Organization Patient Summary"
        category:
          - coding:
              - system: "http://terminology.hl7.org/CodeSystem/service-category"
                code: "35"
                display: "Hospital"
            text: "Hospital / continuity of care"
        type:
          - coding:
              - system: "http://terminology.hl7.org/CodeSystem/v3-ActCode"
                code: INFA
                display: "information access"
        extraDetails: "Lets a care team view recent laboratory results and medication information to understand current treatment, avoid duplicate tests, and reduce medication-safety risks."
        extension:
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-access-mode"
            valueCode: continuous
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-access-duration"
            valueDuration:
              value: 6
              system: "http://unitsofmeasure.org"
              code: mo
              unit: months
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-example-query"
            valueString: "GET [FHIR BASE]/Observation?category=laboratory&_lastUpdated=ge{{period.start}}"
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-example-query"
            valueString: "GET [FHIR BASE]/MedicationRequest?_lastUpdated=ge{{period.start}}"
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-allow-patient-bucket-change"
            valueBoolean: true
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-information-bucket"
            extension:
              - url: "bucket"
                valueCodeableConcept:
                  coding:
                    - system: "http://fhir.health.gov.il/cs/il-hdp-information-buckets"
                      code: laboratoryTests
                      display: "Laboratory tests"
              - url: "historyDepth"
                valueDuration:
                  value: 2
                  system: "http://unitsofmeasure.org"
                  code: a
                  unit: years
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-information-bucket"
            extension:
              - url: "bucket"
                valueCodeableConcept:
                  coding:
                    - system: "http://fhir.health.gov.il/cs/il-hdp-information-buckets"
                      code: medications
                      display: "Medications"
              - url: "historyDepth"
                valueDuration:
                  value: 1
                  system: "http://unitsofmeasure.org"
                  code: a
                  unit: years

    HealthcareServiceCatalogPendingRetrieval:
      summary: New service catalog (pending retrieval)
      value:
        resourceType: HealthcareService
        id: svc-catalog-new-service-pending
        meta:
          profile:
            - "http://pcm.fhir.health.gov.il/StructureDefinition/pcm-healthcareservice-canonical"
          tag:
            - system: "http://pcm.fhir.health.gov.il/cs/pcm-meta-tag"
              code: catalog
              display: "Catalog"
        identifier:
          - use: official
            system: "http://pcm.fhir.health.gov.il/identifier/pcm-healthcareservice-catalog-id"
            value: "PCM-CAT-0201"
        active: false
        name: "Cross-Organization Patient Summary"
        category:
          - coding:
              - system: "http://terminology.hl7.org/CodeSystem/service-category"
                code: "35"
                display: "Hospital"
            text: "Hospital / continuity of care"
        type:
          - coding:
              - system: "http://terminology.hl7.org/CodeSystem/v3-ActCode"
                code: INFA
                display: "information access"
        extraDetails: "Lets a care team view recent laboratory results and medication information to understand current treatment, avoid duplicate tests, and reduce medication-safety risks."
        extension:
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-access-mode"
            valueCode: continuous
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-access-duration"
            valueDuration:
              value: 6
              system: "http://unitsofmeasure.org"
              code: mo
              unit: months
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-example-query"
            valueString: "GET [FHIR BASE]/Observation?category=laboratory&_lastUpdated=ge{{period.start}}"
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-example-query"
            valueString: "GET [FHIR BASE]/MedicationRequest?_lastUpdated=ge{{period.start}}"
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-allow-patient-bucket-change"
            valueBoolean: true
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-information-bucket"
            extension:
              - url: "bucket"
                valueCodeableConcept:
                  coding:
                    - system: "http://fhir.health.gov.il/cs/il-hdp-information-buckets"
                      code: laboratoryTests
                      display: "Laboratory tests"
              - url: "historyDepth"
                valueDuration:
                  value: 2
                  system: "http://unitsofmeasure.org"
                  code: a
                  unit: years
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-information-bucket"
            extension:
              - url: "bucket"
                valueCodeableConcept:
                  coding:
                    - system: "http://fhir.health.gov.il/cs/il-hdp-information-buckets"
                      code: medications
                      display: "Medications"
              - url: "historyDepth"
                valueDuration:
                  value: 1
                  system: "http://unitsofmeasure.org"
                  code: a
                  unit: years

    HealthcareServiceNewServiceRegistrationSubmit:
      summary: New service registration (full submit)
      value:
        resourceType: HealthcareService
        meta:
          tag:
            - system: "http://pcm.fhir.health.gov.il/cs/pcm-meta-tag"
              code: instance
              display: "Instance"
        name: "Cross-Organization Patient Summary"
        category:
          - coding:
              - system: "http://terminology.hl7.org/CodeSystem/service-category"
                code: "35"
                display: "Hospital"
            text: "Hospital / continuity of care"
        type:
          - coding:
              - system: "http://terminology.hl7.org/CodeSystem/v3-ActCode"
                code: INFA
                display: "information access"
        extraDetails: "Lets a care team view recent laboratory results and medication information to understand current treatment, avoid duplicate tests, and reduce medication-safety risks."
        extension:
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-access-mode"
            valueCode: continuous
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-access-duration"
            valueDuration:
              value: 6
              system: "http://unitsofmeasure.org"
              code: mo
              unit: months
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-example-query"
            valueString: "GET [FHIR BASE]/Observation?category=laboratory&_lastUpdated=ge{{period.start}}"
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-example-query"
            valueString: "GET [FHIR BASE]/MedicationRequest?_lastUpdated=ge{{period.start}}"
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-allow-patient-bucket-change"
            valueBoolean: true
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-information-bucket"
            extension:
              - url: "bucket"
                valueCodeableConcept:
                  coding:
                    - system: "http://fhir.health.gov.il/cs/il-hdp-information-buckets"
                      code: laboratoryTests
                      display: "Laboratory tests"
              - url: "historyDepth"
                valueDuration:
                  value: 2
                  system: "http://unitsofmeasure.org"
                  code: a
                  unit: years
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-information-bucket"
            extension:
              - url: "bucket"
                valueCodeableConcept:
                  coding:
                    - system: "http://fhir.health.gov.il/cs/il-hdp-information-buckets"
                      code: medications
                      display: "Medications"
              - url: "historyDepth"
                valueDuration:
                  value: 1
                  system: "http://unitsofmeasure.org"
                  code: a
                  unit: years

    HealthcareServiceInstanceSubmit:
      summary: Service instance (minimal submit)
      value:
        resourceType: HealthcareService
        meta:
          tag:
            - system: "http://pcm.fhir.health.gov.il/cs/pcm-meta-tag"
              code: instance
              display: "Instance"
        extension:
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-based-on-canonical-healthcareservice"
            valueReference:
              reference: "HealthcareService/svc-catalog-cross-org-summary"

    HealthcareServiceInstanceDeactivate:
      summary: Service instance deactivate (minimal PUT)
      value:
        resourceType: HealthcareService
        meta:
          tag:
            - system: "http://pcm.fhir.health.gov.il/cs/pcm-meta-tag"
              code: instance
              display: "Instance"
        active: false

    HealthcareServiceInstanceRetrieval:
      summary: Service instance (retrieval)
      value:
        resourceType: HealthcareService
        id: svc-instance-hosp-a-cross-org-summary
        meta:
          profile:
            - "http://pcm.fhir.health.gov.il/StructureDefinition/pcm-healthcareservice-instance"
          tag:
            - system: "http://pcm.fhir.health.gov.il/cs/pcm-meta-tag"
              code: instance
              display: "Instance"
        identifier:
          - use: official
            system: "http://pcm.fhir.health.gov.il/identifier/pcm-healthcareservice-instance-id"
            value: "PCM-HS-INST-0101"
        active: true
        providedBy:
          reference: "Organization/org-sp-hospital-a"
        name: "Hospital A - Patient App / Cross-Org Summary"
        category:
          - coding:
              - system: "http://terminology.hl7.org/CodeSystem/service-category"
                code: "35"
                display: "Hospital"
            text: "Cross-organization continuity of care"
        type:
          - coding:
              - system: "http://terminology.hl7.org/CodeSystem/v3-ActCode"
                code: INFA
                display: "information access"
        extraDetails: "Lets Hospital A view your recent laboratory results and medication information to understand current treatment, avoid duplicate tests, and reduce medication-safety risks."
        extension:
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-based-on-canonical-healthcareservice"
            valueReference:
              reference: "HealthcareService/svc-catalog-cross-org-summary"
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-approval-window"
            valuePeriod:
              start: "2026-01-01T00:00:00+02:00"
              end: "2026-01-31T00:00:00+02:00"
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-access-mode"
            valueCode: continuous
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-access-duration"
            valueDuration:
              value: 6
              system: "http://unitsofmeasure.org"
              code: mo
              unit: months
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-example-query"
            valueString: "GET [FHIR BASE]/Observation?category=laboratory&_lastUpdated=ge{{period.start}}"
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-example-query"
            valueString: "GET [FHIR BASE]/MedicationRequest?_lastUpdated=ge{{period.start}}"
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-allow-patient-bucket-change"
            valueBoolean: true
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-information-bucket"
            extension:
              - url: "bucket"
                valueCodeableConcept:
                  coding:
                    - system: "http://fhir.health.gov.il/cs/il-hdp-information-buckets"
                      code: laboratoryTests
                      display: "Laboratory tests"
              - url: "historyDepth"
                valueDuration:
                  value: 2
                  system: "http://unitsofmeasure.org"
                  code: a
                  unit: years
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-information-bucket"
            extension:
              - url: "bucket"
                valueCodeableConcept:
                  coding:
                    - system: "http://fhir.health.gov.il/cs/il-hdp-information-buckets"
                      code: medications
                      display: "Medications"
              - url: "historyDepth"
                valueDuration:
                  value: 1
                  system: "http://unitsofmeasure.org"
                  code: a
                  unit: years

    HealthcareServiceInstancePendingRetrieval:
      summary: New service registration (pending retrieval)
      value:
        resourceType: HealthcareService
        id: svc-instance-hosp-a-new-service-pending
        meta:
          profile:
            - "http://pcm.fhir.health.gov.il/StructureDefinition/pcm-healthcareservice-instance"
          tag:
            - system: "http://pcm.fhir.health.gov.il/cs/pcm-meta-tag"
              code: instance
              display: "Instance"
        identifier:
          - use: official
            system: "http://pcm.fhir.health.gov.il/identifier/pcm-healthcareservice-instance-id"
            value: "PCM-HS-INST-0201"
        active: false
        providedBy:
          reference: "Organization/org-sp-hospital-a"
        name: "Hospital A - Patient App / Cross-Organization Patient Summary"
        category:
          - coding:
              - system: "http://terminology.hl7.org/CodeSystem/service-category"
                code: "35"
                display: "Hospital"
            text: "Hospital / continuity of care"
        type:
          - coding:
              - system: "http://terminology.hl7.org/CodeSystem/v3-ActCode"
                code: INFA
                display: "information access"
        extraDetails: "Lets Hospital A view your recent laboratory results and medication information to understand current treatment, avoid duplicate tests, and reduce medication-safety risks."
        extension:
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-based-on-canonical-healthcareservice"
            valueReference:
              reference: "HealthcareService/svc-catalog-new-service-pending"
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-approval-window"
            valuePeriod:
              start: "2026-01-01T00:00:00+02:00"
              end: "2026-01-31T00:00:00+02:00"
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-access-mode"
            valueCode: continuous
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-access-duration"
            valueDuration:
              value: 6
              system: "http://unitsofmeasure.org"
              code: mo
              unit: months
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-example-query"
            valueString: "GET [FHIR BASE]/Observation?category=laboratory&_lastUpdated=ge{{period.start}}"
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-example-query"
            valueString: "GET [FHIR BASE]/MedicationRequest?_lastUpdated=ge{{period.start}}"
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-allow-patient-bucket-change"
            valueBoolean: true
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-information-bucket"
            extension:
              - url: "bucket"
                valueCodeableConcept:
                  coding:
                    - system: "http://fhir.health.gov.il/cs/il-hdp-information-buckets"
                      code: laboratoryTests
                      display: "Laboratory tests"
              - url: "historyDepth"
                valueDuration:
                  value: 2
                  system: "http://unitsofmeasure.org"
                  code: a
                  unit: years
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-information-bucket"
            extension:
              - url: "bucket"
                valueCodeableConcept:
                  coding:
                    - system: "http://fhir.health.gov.il/cs/il-hdp-information-buckets"
                      code: medications
                      display: "Medications"
              - url: "historyDepth"
                valueDuration:
                  value: 1
                  system: "http://unitsofmeasure.org"
                  code: a
                  unit: years

    ConsentRequest:
      summary: Consent request (submit)
      value:
        resourceType: Consent
        status: proposed
        scope:
          coding:
            - system: "http://terminology.hl7.org/CodeSystem/consentscope"
              code: patient-privacy
              display: "Patient Privacy"
        category:
          - coding:
              - system: "http://terminology.hl7.org/CodeSystem/v3-ActCode"
                code: INFA
                display: "information access"
        patient:
          identifier:
            system: "http://fhir.health.gov.il/identifier/il-national-id"
            value: "324573740"
        extension:
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-pcm-service"
            valueReference:
              reference: "HealthcareService/svc-instance-hosp-a-cross-org-summary"
    ConsentRequestCreated:
      summary: Consent request (created)
      value:
        resourceType: Consent
        id: consent-request-created-hosp-a-cross-org-summary
        meta:
          lastUpdated: "2026-01-05T08:10:00Z"
        identifier:
          - use: official
            system: "http://pcm.fhir.health.gov.il/identifier/pcm-consent-id"
            value: "PCM-CONSENT-0101"
        status: proposed
        dateTime: "2026-01-05T10:10:00+02:00"
        scope:
          coding:
            - system: "http://terminology.hl7.org/CodeSystem/consentscope"
              code: patient-privacy
              display: "Patient Privacy"
        category:
          - coding:
              - system: "http://fhir.health.gov.il/cs/pcm-consent-access-mode"
                code: continuous
                display: "Continuous"
          - coding:
              - system: "http://terminology.hl7.org/CodeSystem/v3-ActCode"
                code: INFA
                display: "information access"
        patient:
          identifier:
            system: "http://fhir.health.gov.il/identifier/il-national-id"
            value: "324573740"
        extension:
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-pcm-service"
            valueReference:
              reference: "HealthcareService/svc-instance-hosp-a-cross-org-summary"
        provision:
          type: permit
          purpose:
            - system: "http://terminology.hl7.org/CodeSystem/v3-ActReason"
              code: TREAT
              display: "treatment"
          actor:
            - role:
                coding:
                  - system: "http://terminology.hl7.org/CodeSystem/v3-ParticipationType"
                    code: IRCP
                    display: "information recipient"
              reference:
                reference: "Organization/org-sp-hospital-a"
    ConsentApproved:
      summary: Consent (retrieval)
      value:
        resourceType: Consent
        id: consent-approved-hosp-a-cross-org-summary
        meta:
          lastUpdated: "2026-01-05T08:25:00Z"
        identifier:
          - use: official
            system: "http://pcm.fhir.health.gov.il/identifier/pcm-consent-id"
            value: "PCM-CONSENT-0101"
        status: active
        dateTime: "2026-01-05T10:22:30+02:00"
        scope:
          coding:
            - system: "http://terminology.hl7.org/CodeSystem/consentscope"
              code: patient-privacy
              display: "Patient Privacy"
        category:
          - coding:
              - system: "http://fhir.health.gov.il/cs/pcm-consent-access-mode"
                code: continuous
                display: "Continuous"
          - coding:
              - system: "http://terminology.hl7.org/CodeSystem/v3-ActCode"
                code: INFA
                display: "information access"
        patient:
          identifier:
            system: "http://fhir.health.gov.il/identifier/il-national-id"
            value: "324573740"
        extension:
          - url: "http://pcm.fhir.health.gov.il/StructureDefinition/ext-pcm-service"
            valueReference:
              reference: "HealthcareService/svc-instance-hosp-a-cross-org-summary"
        provision:
          type: permit
          purpose:
            - system: "http://terminology.hl7.org/CodeSystem/v3-ActReason"
              code: TREAT
              display: "treatment"
          period:
            start: "2026-01-05T00:00:00+02:00"
            end: "2026-07-05T00:00:00+02:00"
          actor:
            - role:
                coding:
                  - system: "http://terminology.hl7.org/CodeSystem/v3-ParticipationType"
                    code: IRCP
                    display: "information recipient"
              reference:
                reference: "Organization/org-sp-hospital-a"
            - role:
                coding:
                  - system: "http://terminology.hl7.org/CodeSystem/v3-ParticipationType"
                    code: CST
                    display: "custodian"
              reference:
                reference: "Organization/org-ds-hmo-b"

    ConsentIncludeBundle:
      summary: Consent search with include and iterate
      value:
        resourceType: "Bundle"
        id: "bundle-consent-include-actors-endpoints"
        link:
          -
            relation: "self"
            url: "https://pcm.fhir.health.gov.il/r4/Consent?_id=resource-id-12345&_include=Consent:actor&_include:iterate=Organization:endpoint&_include:iterate=Organization:partof"
        entry:
          -
            search:
              mode: "match"
            resource:
              resourceType: "Consent"
              id: "consent-approved-hosp-a-cross-org-summary"
              meta:
                lastUpdated: "2026-01-05T08:25:00Z"
                profile:
                  - "http://pcm.fhir.health.gov.il/StructureDefinition/pcm-consent"
              text:
                status: "generated"
                div: "<div xmlns=\"http://www.w3.org/1999/xhtml\"><p>Approved consent including selected data sources. Service providers use it to request source access tokens and resolve endpoints.</p><p>FHIR REST: <code>GET https://pcm.fhir.health.gov.il/r4/Consent/{consent-id}</code></p></div>"
              identifier:
                -
                  use: "official"
                  system: "http://pcm.fhir.health.gov.il/identifier/pcm-consent-id"
                  value: "PCM-CONSENT-0101"
              scope:
                coding:
                  -
                    system: "http://terminology.hl7.org/CodeSystem/consentscope"
                    code: "patient-privacy"
                    display: "Patient Privacy"
              category:
                -
                  coding:
                    -
[...]
